.rr-widget-display {
	.testimonial_group {
		.testimonial {
			width: 100%;
			float: none;
			clear: both;
		}
	}

}

#widget-area {
	aside {
		.testimonial_group {
			.testimonial {
				width: 100%;
				float: none;
				clear: both;
			}
		}
	}
}
